* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: 'Instrument Serif', serif;
    font-weight: 600;
    font-size: 35px;
    height: 8vh;
    background-color: #eaf3f9;
    color: black/*#3E92CC/*#007CBE*/;
    padding-top: 8px;
}

p {
    
    padding-left: 3px;
}

img { 
    padding-top: 3px;
    padding-left: 10px;
    width: 40px;
    height: 40px;
}

body {
    overflow: hidden;
    background-color: #eaf3f9;
}

#body {
    width: 100vw;
    height: 100vh;
    background-color: #eaf3f9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

main {
    font-family: 'Instrument Serif', serif;
    font-size: 23px;
    box-shadow: 0 0 12px #0d0d0d;
    background-color:#0d0d0d;
    padding:10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#allButtons {
    display: block;
}

button, div:not(.screenLast):not(.screenCurrent) {
    background-color: #B3DEE2;
    border-radius: 50%;
    margin: 2px;
    width: 5vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 2px solid #eaf3f9;
}

button:hover {
    transform:translateY(-1.5%)
}

button:active {
    background-color: #eaf3f9;
}


.clear {
    border: 2px solid #ff2e2e;
    background-color: #ff2e2e;
}

.clear:active {
    background-color: #fa4b4b;
    border: 2px solid #fa4b4b;
}

.equal {
    border-radius: 20px;
    width:10vw;
    height:9vh;
    border: 2px solid #03c04a;
    background-color: #03c04a;
}

.equal:active {
    background-color: #32e677;
    border: 2px solid #32e677;
}

#delete {
    background-color: #1d9eff;
    border: 2px solid #1d9eff;
}

#delete:active {
    background-color: #69b2eb;
    border: 2px solid #69b2eb;

}

#screen {
    text-align: right;
    display: block;
    padding-right: 5px;
    width: 21vw;
    height:14vh;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #eaf3f9;
}

.screenLast {
    font-size: 20px;
  }
  
  .screenCurrent {
    font-size: 35px;
  }

button:hover {
    cursor:pointer
}


footer {
    margin: 34px 0;
    padding: 0;
    background-color: var(--header);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d0d0d;
  }
  
  .name {
    padding-right:10px;
    font-size: 27px;
  }
  
  .github{
    color: #0d0d0d;
    font-size: 27px;
    text-decoration: none;
    padding-left:10px
  }
  
  .github:hover {
    color:black;
    transform: translateY(-5%)
  }
  
  
  
  